.ui-page {
    min-height: unset !important;
}

.content-info {
	display: none;
}

/* 公共提示框样式开始 */
.pop-up-tip-mask {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 800;
	display: none;
}

.pop-up-tip {
	display : none;
	position: fixed;
	width: 100%;
	z-index: 900;
	top: 50%;
	margin-top: -35px;
	font-size: 15px !important;
	color: #FFFFFF !important;
	text-align: center;
	word-break: break-all !important;
	word-wrap: break-word !important;
}

.pop-up-tip .bg {
	position: relative;
	display: inline-block;
	background: rgba(0, 0, 0, 0.7) !important;
	padding: 20px 30px;
	border-radius: 5px !important;
	text-shadow: none;
}
/* 公共提示框样式结束 */

/* 下拉选择框样式开始 */
.select-list {
	display: none;
}

.select-list-item {
	border-top: 1px solid #BABABA;
	height: auto;
    width: 100%;
}
.select-detail {
    border-bottom: 1px solid #BABABA;
	border-left: 1px solid #BABABA;
	border-right: 1px solid #BABABA;
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
	background: #FFFFFF;
	word-break: break-all !important;
	word-wrap: break-word !important;
}
/* 下拉选择框样式结束 */

#pull_up {
	font-size: 15px;
	color: #3C3C3C;
	text-align: center;
	text-shadow: none !important;
	cursor: pointer;
	height: 38px;
	line-height: 38px;
	position: relative;
}

.mask_div {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(242, 242, 242, 0);
	z-index: 999;
	display: none;
}