#integral_draw_page {
	height: 100%;
}

#integral_draw_page #integral_draw_content{
	/* height: 100%; */
	width: 100%;
	overflow: hidden !important;
	padding: 0 !important;
	position: static;
	z-index: 5;
}

#integral_draw_page .upside-div a {
	overflow: hidden;
}

#integral_draw_page #upside_div .image-div-1 {
	width:200px; 
	height:218px; 
	margin:25px auto;
}


#integral_draw_page .upside-div .upside-img {
	width: 100%;
	margin-bottom: -4px;
	height: auto;
}

#integral_draw_page .main-div {
	overflow: hidden;
}

#integral_draw_page .main-div .tab-btn-div {
	width: 100%;
	background: #F4F4F4;
}

#integral_draw_page .main-div .tab-btn-div .tab-item {
	line-height: 40px;
	width: 50%;
	display: inline-block;
	text-align: center;
	font-size: 18px;
}

#integral_draw_page .main-div .tab-btn-div #tab_repairs {
	display: none;
}

#integral_draw_page .main-div .tab-btn-div .tab-item .tab-img {
	height: 12px;
	display: none;
	margin-top: 14px;
}

#integral_draw_page .main-div .tab-btn-div .tab-item.active .tab-img {
	display: inline-block;
}

#integral_draw_page .main-div .tab-btn-div .tab-item.active .tab-text {
	color: #B0062A;
}

#integral_draw_page .main-div .complain-type {
	width: 100%;
	overflow: hidden;
	font-size: 14px;
	border-bottom: 1px solid #C59518;
}

#integral_draw_page .main-div .complain-type .complain-tab {
	width: 50%;
	display: inline-block;
	padding: 20px 0;
	text-align: center;
	line-height: 20px;
}

#integral_draw_page .main-div #complain_tab_house {
	display: none;
}

#integral_draw_page .main-div .complain-type .complain-tab .complain-icon {
	height: 20px;
	width: 20px;
	border-radius: 20px;
	background: #E2E2E2;
	margin-bottom: -4px;
	margin-right: 5px;
	display: inline-block;
}

#integral_draw_page .main-div .complain-type .complain-tab.active .complain-icon {
	background: #D6A218 !important;
}

#integral_draw_page .main-div .tab-content-div {
	display: none;
	background: #FFFFFF;
	border-top: 1px solid #C7C6CB;
	position: relative;
}

#integral_draw_page .main-div .tab-content-info {
	padding-left: 10px;
	border-bottom: 1px solid #C7C6CB;
}

#integral_draw_page .main-div .tab-content-div .item-div {
	position: relative;
	padding: 5px 20px 5px 80px;
	border-bottom: 1px solid  #C7C6CB;
	overflow: hidden;
	min-height: 40px;
	font-size: 14px;
}

#integral_draw_page .main-div .tab-content-div .item-div:last-child {
	border-bottom: none !important;
}

#integral_draw_page .main-div .tab-content-div .item-div .item-label {
	position: absolute;
	top: 15px;
	left: 0;
}

#integral_draw_page .main-div .tab-content-div .item-div .ui-input-text {
	box-shadow: none;
	border: 0 none;
	font-size: 14px;
}

#integral_draw_page .main-div .tab-content-div .item-div .item-text {
	line-height: 42px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#integral_draw_page .main-div .tab-content-div .item-div .item-select {
	border-color: #000000 transparent transparent;
    border-style: solid;
    border-width: 7px;
    display: block;
    height: 0;
    position: absolute;
    right: 10px;
    top: 20px;
    width: 0;
}

#integral_draw_page .main-div .upload-img-div {
	overflow: hidden;
	padding-bottom: 10px;
}

#integral_draw_page .main-div .upload-img-div .upload-label {
	padding: 10px;
}

#integral_draw_page .main-div .upload-img-div .upload-label label {
	font-size: 14px;
	line-height: 20px;
}

#integral_draw_page .main-div .upload-img-div .upload-label span {
	font-size: 12px;
	line-height: 20px;
	margin-left: 10px;
	color: #B10431;
}

#integral_draw_page .main-div .upload-img-div .photo-item {
	background-position: center center;
    background-repeat: no-repeat;
    background-size: 80px auto;
    float: left;
    height: 80px;
    margin-top: 10px;
    margin-left: 20px;
    position: relative;
    width: 80px;
}

#integral_draw_page .main-div .upload-img-div .photo-item .del-btn {
	background: rgba(0, 0, 0, 0) url("images/btn_picdel.png") no-repeat scroll center center / 20px 20px;
    display: inline-block;
    height: 30px;
    position: absolute;
    right: -12px;
    top: -12px;
    width: 30px;
}

#integral_draw_page .bottom-div {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

#integral_draw_page .bottom-div .bottom-tab {
	width: 100%;
	background: #F4F4F4;
	height: 60px;
}

#integral_draw_page .bottom-div .bottom-tab.selected {
	display: block;
}

#integral_draw_page .bottom-div .bottom-tab .submit-bottom-btn {
	line-height: 60px;
	color: #b10431;
	font-weight: bold;
	font-size: 30px;
	float: left;
	width: 65%;
	text-align: center;
}

#integral_draw_page .bottom-div .bottom-tab .mine-bottom-btn {
	line-height: 60px;
	color: #D8A00F;
	font-size: 18px;
	float: left;
	width: 30%;
	padding-left: 5%;
	background:url("images/button2.png") no-repeat scroll center center;
	background-size: 100% 100%;
	text-align: center;
}

#house_select {
	position: absolute;
	bottom: 0px;
	top: 162px;
	left: 10px;
	right: 0px;
}

#city_select {
	position: absolute;
	bottom: 0px;
	top: 162px;
	left: 10px;
	right: 0px;
}

#company_select {
	position: absolute;
	bottom: 0px;
	top: 225px;
	left: 10px;
	right: 0px;
}

#project_select {
	position: absolute;
	bottom: 0px;
	top: 275px;
	left: 10px;
	right: 0px;
}

#complainCity_select {
	position: absolute;
	bottom: 0px;
	top: 225px;
	left: 10px;
	right: 0px;
}

#complainHouse_select {
	position: absolute;
	bottom: 0px;
	top: 225px;
	left: 10px;
	right: 0px;
}

#integral_draw_page .select-div {
	display: none;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 20;
}

#integral_draw_page .select-div .select-content {
	margin: 10px;
	border-radius: 0.2em;
	overflow: hidden;
	text-align: center;
	background: #FFF;
}

#integral_draw_page .select-content .select-item {
	color: #0077d3;
	line-height: 40px;
	border-top: 1px solid #CBCBCB;
}

#integral_draw_page .select-cancel {
	color: #0077d3;
	line-height: 40px;
	margin: 0px 10px 10px 10px;
	text-align: center;
	background: #FFF;
	border-radius: 0.2em;
	font-weight: bold;
}

#integral_draw_page .select-mask {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 10;
}

.file-upload-div {
	display: none;
}

.mask_div {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(242, 242, 242, 0);
	z-index: 999;
	display: none;
}
